/*ALL*/
*{
	margin: 0;
	padding: 0;
	color: white;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	letter-spacing: 1px;

}
.h{
	display: none;
}
html, body{
	width: 100%;
}
/*Display: none*/
html::-webkit-scrollbar {
	display: none;
}
/* Header : Background */
header{
	font-family: 'Cinzel', serif;
	position: sticky;
	width: 85%;
	margin-left: 15%;
	height: 100vh;
	background-image: url('../img/website/367638.jpg');
	background-size: cover;
}
	header h1{
		margin-top: 10vh;
	}
/* Header : Opacity */

.opacity{
	height: 100vh;
	background-color: black;
	opacity: 0.6;
}

.opp_{
	width: 100%;
	height: 100vh;
	background-color: black;
	position: fixed;
	opacity: 0.7;
	top: 0;
	z-index: -1000;
}
.opp{
	background-image: url('../img/website/shattered-island.gif');
	background-size: cover;
	position: fixed;
	top: 0;
	z-index: -1000;
	height: 100vh;
	width: 100%;
}
/* Title */
#title{
	display: block;
	position: absolute;
	top: 0;
	color: white;
	width: 100%;
	margin-top: 15vh;
	text-align: center;
	font-size: 1.2vw;
}
	#title a img{
		 width: 20vh;
	}
	
/* Nav */
nav{	
	font-family: 'Cinzel', serif;
	background-color: #040404;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 15vw;
	height: 100vh;
}

	nav ul a li{
		margin: auto;
		padding: 10%;
		text-align: center;
		border-bottom: 1px solid #FFF;
		color: white;
		transition-duration: 0.5s;
	}
		nav ul li:hover{
		transition-duration: 0.5s;
		background-color: #FFF;
		color: #000	;
	}
	.nav_logo{
		display: block;
		width: 100%;
		margin: auto;
	}

	.navbar, .toggle_btn{
	display: none;
	}

	nav ul a, nav div{
		font-size: 1vw;
	}

	nav div{
	color: #FFF;
	margin-top: 10%;
	text-align: center;
	}

	nav div img{
	display: none;
	}

	.twonav{
		transition-duration: 0s;
	}
/* Section */
section{
	font-family: 'Poiret One', cursive; /* Excellent */
	font-size: 11pt;
	width: 85%;
	margin-left: 15%;
	height: 100vh;
}
	/* Section : Presentation */	
	#pres article{
		/*background-color: #C82605;*/
		display: flex;
		height: 50vh;
	}
	#pres .verse_{
		display: flex;
		flex-direction: column;
	}
		#pres .verse div{
			padding: 20px;
		}

		#pres .verse_ a{
			width: 155px;
			margin: auto;
			text-align: center;
			border: 2px solid white;
			border-radius: 4px;
			color: #FFF;
			padding: 10px;
			transition-duration: 0.5s;
		}
			#pres .verse_ a:hover{
				background-color: #FFF;
				color: #000;
			transition-duration: 0.5s;
			}
	#pres .reverse div{
		width: 65%;
	}
	#pres .reverse{
		display: flex;
		flex-direction: row-reverse;
		background-color: #F74549;
	}
	#pres .verse img{
		width: 40%;
	}
	#pres .reverse img{
		position: absolute;
		width: 20%;
		left: 0;
		margin-left: 260px;
		margin-top: 25px;
		border-left: none;
	}
	#pres .reverse div, #pres .reverse div p{
		padding: 10px 10px 10px 0;
	}
	#pres .reverse h2{
		width: 300px;
		text-align: center;
		font-size: 40pt;
		margin-bottom: 10px;
		color: #000;
	}
	#pres .reverse h3{
		width: 40%;
		background-color: #183152;
		color: white;
	}
	#pres .reverse p{
		border-top: 2px solid #00303F;
		color: #000;
	}
	#techno article{
		display: flex;
		text-align: center;
		flex-wrap: wrap;
	}
	#techno img{
		width: 20%;
	}
	#techno .tec{
		width: 33%;
	}
	#techno .back_{
		margin: auto;
		width: 80%;
		padding: 0.5%;
		background-color: #FFF;
		border-radius: 4px;
	}
	#techno .back{
		padding: 2%;
		background-image: repeating-linear-gradient(-45deg, 
      	transparent 0 1px, 
      	#F74549 2px 3px);
	}
	#techno .html{
		width: 90%;
	}
	#techno .css{
		width: 70%;
	}
	#techno .js{
		width: 20%;
	}
	#techno .php{
		width: 60%;
	}
	#techno .sql{
		width: 60%;
	}
	#techno .wp{
		width: 50%;
	}
	#techno span{
		position: absolute;
		color: #000;
		font-weight: bold;
	}
	.opquast{
		background-color: rgba(0, 0, 0, 0.4);
		border-right: 2px solid #FFF;
		border-radius: 4px;
		margin: 2% auto;
		width: 65%;
		display: flex;
	}
	.opquast a img{
		margin-left: 0.5%;
	}
	.opquast div{
		padding: 1%;
	}
	.opquast p{
			font-family: 'Indie Flower', cursive;
	}
	/* Section : Project */
	#project{
		/*background-color:  #FCFAE1;*/
	}
	#project article{
		padding-top: 1.5%;
		height: 100vh;
		display: flex;
		flex-wrap: wrap;
		/*background-color: #C82605;*/
/*		border-top: 2px solid #040404;
		border-bottom: 2px solid #040404;*/
	}
	#project article .proj{
		margin-left: 10%;
		width: 30%;
		display: flex;
		flex-direction: column;
		height: 45vh;
		margin: 0 auto;
		border-radius: 5px;
		border-top: 2px solid #F74549;
		border-bottom: 2px solid #F74549;	
		background-color: rgba(0, 0, 0, 0.4);
	}
		#project img{
			margin-left: 5%;
			width: 90%;
			opacity: 0.7;
			transition-duration: 0.8s;
		}
			#project article .proj:hover img{
				transition-duration: 0.8s;
				opacity: 1;
			}
		#project article .proj_{
			width: 100%;
			height: 20vh;
			overflow: hidden;
		}
			.view{
				display: none;
				pointer-events: none;
				position: absolute;
				width: 25%;
				text-align: center;
				margin-top: 4%;
				z-index: 1000;
				font-size: 14pt;
			}
			
				#project article .proj:hover .view{
					display: block;
				}

				.view p{
					border-radius: 4px;
					border-right: 2px solid red;
					border-left: 2px solid red;
					width: 260px;
					margin: auto;
					font-weight: bold;
				}
		#project article ._proj{
			padding: 15px;
			height: 45%;
		}
		#project article ._proj p{
			font-family: 'Indie Flower', cursive;
		}
		#project article ._proj a{
			color: #20B2AA;
		}
	/* Section : Contact && Social Network */
	#propos article div img{
		width: 20%;
	}
	.res_contact{
		display: flex;
		padding-top: 5%;
	}
	.res_cont{
		text-align: center;
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.res_cont img{
		margin: auto;
		width: 25%;
		border-radius: 5px;
	}
	.res_cont div h3{
		color: #FFF;
		background-color: #000;
		margin: 2% auto;
		width: 150px;
	}
	/* Contact (disabled)*/
	#contact{
		width: 60%;
	}
	#contact_res{
		/*background-image: url('../img/website/67941.jpg');*/
		background-size: cover;
		scroll-behavior: auto;
	}
		input[type=text], input[type=tel], textarea{
			padding: 2px;
			padding-left: 10px;
			width: 70%;
			font-size: 12pt;
			color:#000;
			margin-top: 1%;
			border-radius: 4px;
			border: none;
			height: 40px;
		}
		textarea{
			height: auto;
			resize:none;
		}
		
		input[type=submit]{
			color: #000;
			width: 8vw;
			height: 5vh;
			font-size: 1vw;
			border-radius: 4px;
			border: none;
			cursor: pointer;
			opacity: 0.5;
		}
		input[type=submit]:hover{
			opacity: 1;
		}
		.msg{
			width: 29.5vw;
			height: 100px;
			margin: auto;
		}
		.notice{
			color: green;
			font-weight: bold;
		}
		.warning{
			color: orange;
			font-weight: bold;
		}
		.error{
			color: red;
			font-weight: bold;
		}

	/* Part : Social Network */
	#network{
		padding-top: 10%;
		display: block;
		width: 40%;
		margin-left: 10%;
	}
		#network figure{				
			display: flex;
			margin-top: 0.5vw;
		}
		#network figure img{
			width: 3.3vw;
		}
		#network figcaption{
			background-color: #FFF;
			color: #000;
			margin-left: 1vw;
			width: 10vw;
			border-top-right-radius: 4px;		
			border-bottom-right-radius: 4px;
			padding: 14px;
			text-align: center;
		}

			#network figcaption:hover{
				background-color: #183152;
				color: #FFF;
			}
		.coord{
			margin-left: -12%;
			width: 60%;
			padding: 30px;
			text-align: center;
			border: 2px solid #FFF;
		}



@media screen and (max-width: 690px){

	*{
		font-size: 10pt;
	}
	.verse, .reverse, #techno .division, #project article, .res_contact{
		display: flex;
		flex-direction: column;
	}
	.h{	
		margin: 0 auto 2% auto;
		width: 80%;
		display: block;
		font-size: 25pt;
		text-align: center;
		border-right: 2px solid red;
		border-left: 2px solid red;
		border-radius: 4px;
	}
		img{
			margin: auto;
		}
	header{
		display: none;
	}
	nav{
		margin-top: 40px;
		width: 100%;
	}
	nav ul a li{
		padding: 7%;
	}
	nav div{
		font-size: 10pt;
	}
	nav div img{
		margin: auto;
		display: block;
		width: 150px;
	}
	nav div h4{
		margin-top: 3%;
	}
	.navbar{
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	background-color: black;
	height: 40px;
	display: block;
		text-align: center;
	}
	.navbar_open{
		background-color:black;
	}
	.navbar a{
		text-decoration: none;
		color: white;
		position: fixed;
		left: 15px;
		z-index: 1000;

	}
		.navbar a h2{
			font-size: 15pt;
			width: 20%;
		}
	.toggle_btn{
		display: block;
    	height: 30px;
    	width: 30px;
    	position: fixed;
    	cursor:pointer;
    	z-index: 1;
    	right: calc(10% - 30px);
	}
	.toggle_btn span{
    	height: 3px;
    	background-color: #FFF;
	    width: 100%;
    	position: absolute;
	    top: 20px;
	    left: 0;
	}
	.toggle_btn span:before{
	    content: '';
	    height: 3px;
	    background-color: #FFF;
	    width: 50%;
	    position: absolute;
	    top: -10px;
	    left: 0;
	    margin-left: 15px;

	}
	/* BUTTON CROSS JS */
	.cross span{
    	background-color: red;
    	transform: rotate(45deg);
	}
	.cross span:before{
    	background-color: red;
    	top: 0;
    	transform: rotate(90deg);
   		width: 100%;
    	margin-left:0;
	}
	.nav_logo{
	display: none;
	}

	.twonav{
	transition-duration: 0.8s;
	margin-left: 100%;
	}
	.twonav_open{
		margin-left: 0;
		transition-duration: 0.8s;
	}
	section{
	padding-top:40px;
	margin-left: 0;
	width: 100%;
	}
	#pres{
		height: 125vh;
	}
	#pres .verse{
		height: 45%;
	}
	#pres .reverse{
		background-color: 2px solid blue;
		height: 60%;
	}
	#pres article div a{
		margin: auto;
	}
	#pres .reverse div{
		width: 100%;
		height: 40%;
	}
	#pres .verse img,#pres .reverse img{
		display: none;
	}
	#techno{
		margin-top: 25%;
	}
	#techno .tec{
		width: 50%;
		margin: auto;
	}
	#techno .cet{
		display: flex;
		justify-content: space-around;
	}
		#techno .cet img{
			width: 50px;
		}
	#techno .back_{
		padding: 2%;
	}
	#techno .back{
		padding: 4%;
	}
	#techno .opquast{
		width: 95%;
		margin-top: 5%;
		flex-direction: column;
		border-right: none;
		border-bottom: 2px solid #FFF;
	}
		#techno .opquast img{
			margin: auto;
		}
	#project article div{
		width: 45%;
		margin-bottom: 2.5%;
	}
	#project article{
		height: 100vh;
		flex-direction: row;
	}
	#project article .proj{
		width: 49%;
		height: 60%;
	}
	#project article ._proj{
		width: 85%;
	}
	#project{
		margin-top: 150px;
		height: 100vh;
	}

	#propos{
		margin-top: 40vh;
	}
	.res_cont{
		width: 100%;
	}
	.res_cont h3{
		font-size: 15pt;
	}
	.msg{
		width: 90%;
	}
	input[type=text],input[type=tel], textarea{
		width: 90%;
		font-size: 15pt;
	}
	input[type=submit]{
		width: 30%;
		font-size: 15pt;
	}
	#network{
		margin-left: 0;
		margin-top: 120px;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column-reverse;
	}
		#network div{
			margin: 1% auto;
			display: flex;
			justify-content: center;
		}
			#network h2{
				display: none;
			}
			#network div img{
				width: 50px;
			}
			#network figure{
				margin: 0 0.5%;
			}
			#network div figcaption{
				display: none;
			}
		.coord{
			padding: 10px 0;
			margin: auto;
			width: 80%;
			display: flex;
			flex-direction: column;

		}

}